:root{
    --primary-text-color: #2E2F42;
    --tittle-text-color: #434455;
    --acccent-color:#4D5AE5;
}
body{ background-color: #ffffff;
    font-family: Roboto,sans-serif;
       letter-spacing: 0.02em;
}
.list{
    list-style: none;
}
/* header */

.logo{
    color:var(--primary-text-color);
font-family: 'Raleway';
font-weight: 800;
font-size: 18px;
line-height: 1.33;
letter-spacing: 0.03em;
}
.web-logo{
    color:var(--acccent-color);
}
.web-logo:hover,
.web-logo:focus{
 color: var(--primary-text-collor);
}
.logo:hover,
.logo:focus{
    color: #404BBF;
}


/* site nav */

  
  .site-nav a{
    color:var(--primary-text-collor);
    font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
  }  
  .site-nav .link:hover,
  .site-nav .link:focus{
    color:#404BBF;
  }





/* auht nav */
.auht-nav{
    color:var(--primary-text-color);
    font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
.auht-nav :hover,.auht-nav :focus{
    color: #404BBF;
}
/* hero */
.hero{
    background-color: var(--primary-text-color)
    
}
.hero-tittle{
    color: #ffffff;
 font-weight: 700;
font-size: 56px;
line-height: 1.1;
text-align: center;
}
.hero-button{
color:#FFFFFF;
}
.hero-button{
    background-color: var(--acccent-color)
    
}
.hero-button:hover,
.hero-button:focus{
background-color: #404BBF;
}
.hero-button:hover,
.hero-button:focus{
    color: #FFFFFF;
}
.hero-button{
    font-family:inherit;
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
letter-spacing: 0.04em;
}
/* section */
.tittle-two{
    color: var(--primary-text-color);
font-weight: 700;
font-size: 36px;
line-height: 1.1;
text-align: center;
text-transform: capitalize;
}
.section{
  color: var(--primary-text-color);
font-weight: 500;
font-size: 20px;
line-height: 1.2;
}
.section-tittle{
   color: var(--tittle-text-color);
font-weight: 400;
font-size: 16px;
line-height: 1.5;
}
.team-section{
    color: var(--primary-text-color);
font-weight: 500;
font-size: 20px;
line-height: 1.2;
text-align: center;
}
.team-tittle{
    color: var(--tittle-text-color);
font-weight: 400;
font-size: 16px;
line-height: 1.5;
text-align: center;
}
/* footer */
.footer{
    background-color: var(--primary-text-color);
}
.footer-peregraph{
    color: #E7E9FC;;
font-weight: 400;
font-size: 1.5;
line-height: 24px;
}
.footer-logo{
    color: #F4F4FD;
    font-family: 'Raleway';
font-weight: 800;
font-size: 18px;
line-height: 1.37;
letter-spacing: 0.03em;
}
.footer-logo:hover, .footer-logo:focus{
    color:var(--acccent-color);
}
/* portfolio */
/* filter */
.portfolio-button{
    color: var(--acccent-color);
font-weight: 500;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.04em;
}
.portfolio-button{
background-color: #F4F4FD;
}
.portfolio-button:hover,
.portfolio-button:focus{
color: #FFFFFF;
}
.portfolio-button:hover,
.portfolio-button:focus{
    background-color: #404BBF;
}
.portfolio-button{
    cursor: pointer;
}